* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, Sans-serif, serif;
    font-size: 16px;
    /*
    background:
            radial-gradient(at 18% 99%, rgb(48, 52, 63) 0px, transparent 50%) repeat scroll 0% 0%,
            radial-gradient(at 97% 8%, rgb(250, 250, 255) 0px, transparent 50%) repeat scroll 0% 0%,
            radial-gradient(at 79% 82%, rgb(228, 217, 255) 0px, transparent 50%) repeat scroll 0% 0%,
            radial-gradient(at 96% 10%, rgb(39, 52, 105) 0px, transparent 50%) repeat scroll 0% 0%,
            radial-gradient(at 42% 20%, rgb(30, 39, 73) 0px, transparent 50%) repeat scroll 0% 0%,
            rgba(0, 0, 0, 0) radial-gradient(at 57% 33%, rgb(139, 69, 19) 0px, #8B4513 50%) repeat scroll 0% 0%;
    */
    background:
            radial-gradient(at 18% 99%, rgb(59, 31, 130) 0px, transparent 50%) repeat scroll 0 0,
            radial-gradient(at 97% 8%, rgb(53, 57, 133) 0px, transparent 50%) repeat scroll 0 0,
            radial-gradient(at 79% 82%, rgb(46, 84, 137) 0px, transparent 50%) repeat scroll 0 0,
            radial-gradient(at 96% 10%, rgb(40, 111, 140) 0px, transparent 50%) repeat scroll 0 0,
            radial-gradient(at 42% 20%, rgb(33, 137, 144) 0px, transparent 50%) repeat scroll 0 0,
            rgb(27, 164, 147) radial-gradient(at 57% 33%, rgb(20, 191, 151) 0px, #0ed99a 50%) repeat scroll 0 0;

}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

/* ----- ----- HEADER ----- ----- */

header {
    width: 100%;
    background-size: cover;
    background: #281a0c url('../imag/fondo.jpeg') no-repeat fixed center 0;
}

header .contenedor {
    position: relative;
    height: 700px;
}

header .menu {
    width: 100%;
    text-align: right;
}

header .menu a {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    display: inline-block;
    margin: 25px 20px;
    text-decoration: none;
    position: relative;
}

header .menu a:hover {
    text-decoration: underline;
}

header .textos {
    width: 100%;
    color: #fff;
    position: absolute;
    top: 50%;
    margin-top: -52px;
}

header .textos .nombre {
    font-size: 50px;
    font-weight: 600;
}

header .textos .nombre span {
    font-weight: 300;
}

header .textos h3 {
    font-weight: 300;
    font-size: 25px;
    font-style: italic;
}

/* ----- ----- MAIN ----- ----- */
.main .acerca-de .contenedor {
    overflow: visible;
    position: relative;
}

.main .acerca-de .foto {
    width: 80%;
    position: absolute;
    left: 0;
    top: -50px;
    z-index: 0;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.35);
}

.main .acerca-de .foto img {
    width: 100%;
    vertical-align: top;
}

.main .acerca-de article {
    background: #fff;
    padding: 40px;
    width: 50%;
    position: relative;
    float: right;
    /*top: 30px;*/
    top: 500px; /*Con Parallax*/
    z-index: 1;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.35);
}

.main .acerca-de article h3 {
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 40px;
}

.main .acerca-de article p {
    line-height: 28px;
    margin-bottom: 15px;
}

/* ----- ----- GALERÍA ----- ----- */
.main .menu {
    padding-top: 600px;
}

.main .menu .titulo {
    font-size: 50px;
    font-weight: 300;

    text-align: center;
    margin-bottom: 20px;
}

.main .menu article .categoria {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
}

.main .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main .galeria .foto {
    flex: 0 0 30%; /* 30% para 3 fotos por fila */
    margin: 10px; /* Ajusta el margen según tus preferencias */
}

.main .galeria .foto img {
    width: 100%;
    height: auto;
    display: block;
    vertical-align: top;
    opacity: .7;
}

.main .galeria .foto img:hover {
    opacity: 1;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

/* ----- ----- JUNTA DIRECTIVA ----- ----- */
.main .junta {
    margin-top: 90px;
}

.main .junta .titulo {
    font-size: 50px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 20px;
}

.tarjetas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tarjetas a {
    text-decoration: none;
    color: #cccccc; /* Color del texto */
    text-align: center;
    width: 150px; /* Ancho de cada tarjeta */
    margin: 10px; /* Margen entre tarjetas */
}

.tarjetas img {
    max-width: 100%;
    height: auto;
    border-radius: 50%; /* Para hacer la imagen redonda, ajusta según sea necesario */
}

.tarjetas p {
    margin: 10px 0;
    font-weight: bold;
}

.tarjetas a:hover {
    background-color: rgb(57, 9, 114, 0.6); /* Cambia el color de fondo al pasar el ratón */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* ----- ----- APUNTATE ----- ----- */
.main .apuntate {
    margin-top: 90px;
}

.main .apuntate .titulo {
    font-size: 50px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 20px;
}

.main .apuntate article .categoria {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
}

/* ----- ----- FOOTER ----- ----- */
footer {
    background: #000;
}

footer .copyright {
    text-align: center;
    padding: 15px 0;
    color: #fff;
}

/* ----- ----- MEDIA QUERIES ----- ----- */
@media screen and (max-width: 800px) {
    header .contenedor {
        position: static;
        height: auto;
    }

    header .textos {
        position: static;
        margin: 100px 0;
    }

    header .menu {
        text-align: center;
    }

    header .menu a {
        margin: 10px 20px;
    }

    header .textos .nombre {
        font-size: 30px;
    }

    header .textos h3 {
        font-size: 18px;
    }

    .main .acerca-de .foto {
        position: relative;
        width: 100%;
    }

    .main .acerca-de article {
        position: relative;
        width: 100%;
        top: -50px;
        transform: translate(0px, 0);
    }

    .main .menu {
        padding-top: 300px;
    }

    .main .menu article {
        width: 100%;
    }

    .main .galeria .foto {
        width: 50%;
    }

    .main .mapa {
        width: 80%;
        margin: auto;
    }
}

@media screen and (max-width: 400px) {
    .main .acerca-de article h3 {
        font-size: 34px;
        margin-bottom: 10px;
    }

    .main .menu article .nombre,
    .main .menu article .precio {
        font-size: 16px;
        line-height: 16px;
    }
}